/* body */
body {
    margin: 0%;
}

span {
    color: white;
}

/* header style */

#nav-size {
    padding: 0px 0px 0px 0px;
}

#custom-nav-bg {
    background-color: black;
    font-size: 1rem;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 2px solid white;
}

/* header webpage addres style */
#business {
    font-family: 'Inter';
    font-style: normal;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

/* navbar items style */
a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: gray;
}

/* ---------------------------------------------------------------------------------------------- */

/* Home */
#home {
    padding: 4rem;
    padding-top: 3rem;
    background-color: black;
}

#business-text {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-size: 7rem;
    padding-top: 2rem;
    padding-right: 1rem;
    animation: headani 4s ease 0s 1 normal forwards;
}

@keyframes headani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#laptop-img {
    padding: 12rem 0rem 2rem 0rem;
    width: 35rem;
}

.col-sm-12 {
    display: flex;
    justify-content: center;
}

#downarrow {
    padding-top: 3rem;
    padding-bottom: 1%;
    text-align: center;
}

#downarrow-logo {
    width: 1%;
    animation: down-arrow 3s linear 0s infinite normal forwards;
}

@keyframes down-arrow {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

/* ---------------------------------------------------------------------------------------------- */

/* About Us */

#aboutus {
    background-color: white;
    padding: 8rem 2rem;
}

#aboutus-img {
    width: 30rem;
    margin-left: 10%;
}

#about-text {
    padding: 1rem 0rem 0rem 2rem;
    justify-content: flex-start;
    flex-direction: column;
}

.about-head {
    font-size: 8rem;
    font-style: bolder;
}

#about-font-size {
    line-height: 1;
}

/* ---------------------------------------------------------------------------------------------- */

/* Know More */

#knowmore {
    padding: 5rem 3rem 8rem 3rem;
    margin-top: 0.5%;
}

.service-head {
    font-size: 8rem;
    font-style: bolder;
    margin-left: 1.8%;
}

.horizontally-scroll {
    padding: 5% 0% 4% 0%;
    border: black;
    overflow-x: scroll;
}

.horizontally-scroll::-webkit-scrollbar {
    height: 12px;
}

.horizontally-scroll::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 8px;
}

#card-style {
    padding: 6rem;
    margin: 2rem;
    width: 40%;
    height: 30%;
}

#card-style:hover {
    background-color: black;
    color: white;
    transition-delay: 0.3s;
}

/* ---------------------------------------------------------------------------------------------- */

/* Contact Us */

#contactus {
    padding: 10rem 10rem;
    background-color: black;
}

#contactushead {
    color: white;
    font-size: 6rem;
    margin-top: -4rem;
    padding-bottom: 4rem;
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------- */
